@*@model List<ReservationApp.ViewModels.ReservationStudentViewModel>*@
@using System.Linq
@using ReservationApp.ViewModels
@model List<Reservation>
@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_TopMenuPartial")

<h1>Index</h1>
<div class="d-flex m-1">
    <form asp-action="Index" asp-controller="Reservation" asp-area="Admin">
        <label for="filterDate" class="form-control-label mr-3">Date :</label>
        <input type="date" class="form-control-date text-center" id="filterDate" name="filterDate">
    </form>
    <a asp-controller="Reservation" asp-action="Index">
        <button class="btn p-0 mx-2 px-1 rounded-circle btn-primary" type="submit">&#10008;</button>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Cause
            </th>
            <th>
                Student
            </th>
            <th>
                Reservation Type
            </th>
            <th>
                Status
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationType.Name)
                </td>

                <td>
                    <form asp-area="Admin" class="StatusForm" asp-action="Submit" asp-controller="Reservation">


                        <input class="form-control d-none" type="text" name="Id" value="@item.Id">

                        <select class="form-control text-center Status custom-select" asp-items="@ViewBag.StatusList"
                            Select="@item.Status" name="status">

                        </select>
                        @* @Html.DisplayFor(modelItem => item.Status) *@


                    </form>
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    document.querySelectorAll(".Status").forEach(x => {
        x.addEventListener("change", () => {
            x.parentElement.submit();
        })
    });

    let datePicker = document.getElementById("filterDate");

    datePicker.addEventListener("change", () => {
        datePicker.parentElement.submit();
    })

</script>