@using Microsoft.AspNetCore.Identity
@model ReservationApp.ViewModels.ReservationStudentViewModel
@*@model Reservation*@
@inject UserManager<IdentityUser> _userManager


@{
    ViewData["Title"] = "Create Reservation";
   
}
<div class="m-1 mb-5">

    <h4 class="text-center"> Today's Empty Places On Each Type ! </h4>
    @{
        @* if(ViewBag.dataToday != null){ *@
            foreach (var item in ViewBag.dataToday){
                <p>Type : @item.Key Empty<span class="alert-danger">@item.Value</span></p>
            }
        @* }else{
            <p>Nothing To Show!</p>
        } *@
    }
</div>
<div class="m-1">

    <h4 class="text-center"> Tomorrow's Empty Places On Each Type ! </h4>
    @{
        @* if(ViewBag.dataTomorrow != null){ *@
            foreach (var item in ViewBag.dataTomorrow){
                <p>Type : @item.Key Empty<span class="alert-danger">@item.Value</span></p>
            }
        @* }else{
            <p>Nothing To Show!</p>
        } *@
    }
</div>
<h4 class="text-center">@ViewData["Title"]</h4>
<hr />
<div class="row d-flex justify-content-center align-items-center">
    <div class=" m-2">

        <form asp-action="Create" asp-controller="Reservation" class="form-horizontal py-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Status" class="control-label"></label>
                <Select class="form-control custom-select" asp-items="@ViewBag.StatusList">
                    <option Disable selected></option>
                </Select>
                @* @Html.DropDownList("Status",ViewBag.StatusList as SelectList)  *@
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cause" class="control-label"></label>
                <input asp-for="Cause" class="form-control" />
                <span asp-validation-for="Cause" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="ReservationTypeId" class="control-label">Type</label>
                <select asp-for="ReservationTypeId" asp-items="@ViewBag.ResType" class="form-control custom-select">
                    <option disabled selected>- Reservation Type -</option>
                </select>
                <span asp-validation-for="ReservationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class=" mx-auto text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
