@*@model IEnumerable<ReservationApp.Models.Reservation>*@
@model IEnumerable<ReservationApp.ViewModels.ReservationStudentViewModel>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager
@{
    ViewData["Title"] = "Reservation";
    var user = await _userManager.GetUserAsync(User);

}



<div class="row">
    <a class="btn btn-outline-primary mx-auto " asp-action="Create">Create New</a>
</div>


<p>@user.Id</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)

            </th>
            @* <th>
                </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.Status)
                </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Cause)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreateDate)
                </th>*@
            @* <th>
                @Html.DisplayNameFor(model => model.Student.Email)
                </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var status = item.Status;

            <tr>
                <td>

                    @if (status == Status.Approved.ToString())
                    {
                        <p class="text-success text-center m-1 h-2">&#x2714;</p>
                    }
                    else if (status == Status.Pending.ToString())
                    {
                        <p class="text-primary text-center m-1 h-2">&#x21bb;</p>
                    }
                    else
                    {
                        <p class="text-danger text-center m-1 dis h-2">&#x2718;</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Cause)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Student.UserName)
                    </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
